$size__site-main: 100%;
$size__site-sidebar: 25%;


//Mobile- XS
$screen__xs-width: 320px;
$screen__xs-height: 568px;
//Mobile
$screen__mobile-width: 375px;
$screen__mobile-height: 667px;

// Tablet Portrait
$screen__tablet-width: 768px;
$screen__tablet-height: 1024px;

// Laptop
$screen__laptop-width: 1025px;

// Desktop
$screen__desktop-width: 1440px;
